entrypoint = "main.swift"

modules = ["swift"]

[nix]
channel = "stable-24_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash validate_project.sh"

[workflows.workflow.metadata]
outputType = "console"
